.ImageHolder {
    -fx-background-image:url("https://img.freepik.com/free-photo/man-racing-dirt-bike-fantasy-environment_23-2151500496.jpg?size=626&ext=jpg&ga=GA1.1.1141335507.1718236800&semt=ais_user");
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.topHolder(

}
